<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home"  target="_self">Contact List</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="home"  target="_self">Home</a></li>
              <li><a href="profile"  target="_self">Profile</a></li>
              <li><a href="changepassword" target="_self">Change Password</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="logout"  target="_self">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
   {% if error %}
            {% for err in error %}
             <div class="alert alert-danger" >
                 <strong>ERROR!</strong> {{err}}
            </div>
    {% endfor %}
   
    {% endif %}
    {% if success %}
    <div class="alert alert-success">
      <strong>Success!</strong> {{success}}
    </div>
    {% endif %}
